@import url('https://fonts.googleapis.com/css?family=Athiti');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');
@import "compass/css3";

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
h2 {
  font-family: 'Bai Jamjuree', 'Raleway', sans-serif;
  font-size: 2rem;
  color: rgb(7, 35, 80);
}
p {
  line-height: 23px;
  color: black;
  margin: 0px;
}

ul {
  list-style-type: none;
}
/*Index page*/

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
.wrapper > * {
  flex: 1 100%;
}
.wrapper a:active {
  color: rgb(5, 23, 32);
}

.header {
  z-index: 3;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 2em 0px 2em;
}
.fade-in-left {
  animation-name: fadeInLeft;
}
.fade-in-right {
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.logo {
  display: flex;
  height: 70px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}
.logo a {
  text-decoration: none;
  display: block;
  color: rgb(28, 130, 179)
}
.logo h1 {
  padding-left: 68px;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}
#logoimage {
  align-items: center;
  display: flex;
  float: left;
  width: auto;
  height: 60px;
  margin: 5px;
  background-image: url(Images/logo.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  transition: all 200ms;
}
#logoimage:hover {
  -webkit-animation-name: logoanimation;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
  animation-name: logoanimation;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  transform: scale(1.05);
}
@-webkit-keyframes logoanimation {
  0% {background-image: url(Images/logo.png);}
  25% {background-image: url(Images/logo2.png);}
  50% {background-image: url(Images/logo3.png);}
  75% {background-image: url(Images/logo2.png);}
  100% {background-image: url(Images/logo.png);}
}

.navigation {
  list-style: none;
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: rgb(28, 130, 179);
  transition: all 200ms;
}
.navigation a:hover {
  transform: scale(1.1);
}
.navigation .icon {
  display: none;
}

#content-head {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 90vh;
  background: url(Images/cover.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
  /*clip-path: polygon(
    0 0, /* left top */
    /*0 100%, /* right top */
    /*100% 92%, /* right bottom */
    /*100% 0 /* left bottom */
  /*);*/
}



.wrap-1 {
  max-width: 1500px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fade-in-bottom {
  animation-name: fade-in-bottom;
  animation-delay: .9s;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
  opacity: 0;
  transform: translate3d(0,5%,0);
  }
  100% {
  opacity: 1;
  transform: none;
  }
}

#square {
  transform: skewX(30deg);
  margin-left: -170px;
  overflow: hidden;
  width: 950px;
  height: 100%;
  background: linear-gradient(90deg,  rgb(7, 35, 80), 25%, rgb(20, 90, 120) 70%);
}
.text-box {
  margin-top: -20px;
  padding-left: 2em;
  position: absolute;
  z-index: 2;
  text-align: left;
  width: 680px;
  color: white;
}
.text-box h1 {
  font-family: 'Bai Jamjuree', 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 4.7rem;
  line-height: 1em;
  margin: 0;
}
.text-box p {
  font-size: 1.2rem;
  margin-top: 30px;
  color: white;
}
.text-box a {
  font-size: 1.2rem;
  text-decoration: none;

}
.button {
  margin-top: 40px;

  padding: 18px;
  width: 200px;
  height: 60px;
  background-color: white;
  color: black;
  text-align: center;
  transition: all .5s ease-in-out;
}
.button:hover {
  transform: scale(1.05);
  background-color: rgb(255, 134, 60)/*(132, 201, 235)*/;
  color: white;
}


.wrap {
  max-width: 1500px;
  scroll-behavior: smooth;
}
.arrow {
  margin: 0;
  width: 50px;
  height: 100px;
  background: url(Images/down.png)50% 50% no-repeat;
  background-size: 60px;
  margin-left: 10px;
}
.bouncing {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2.5s infinite;
  animation-name: bounce;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {transform: translateY(0);}
  25% {transform: translateY(-40px);}
  75% {transform: translateY(-40px);}
}
.arrow a {
  height: 100px;
  width: 50px;
}
#scroll {
  width: 50px;
  animation-delay: 1.8s;
}

#main {
  text-align: left;
  background: white;

}
.main-div {
  height: 1100px;
  margin-top: 70px;
  /*transform: skewY(-2deg);*/
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-template-rows: 500px 500px;
  grid-row-gap: 100px;
}
/* .text-column {
  transform: skewY(2deg);
} */
.left {
  padding-left: 30px;
  text-align: left;
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.right {
  padding-right: 30px;
  align-self: center;
  text-align: left;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.image-column {
  overflow: hidden;
}
.image-column img {
  width: 900px;
  margin-top:-50px;
  margin-left: -70px;
}

.bottom-div {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
}
.card {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-column-gap: 5%;
  grid-template-rows: 35% 55%;
  grid-row-gap: 10%;
  padding: 50px;
  align-items: center;
  text-align: left;
  width: 100%;
  background: rgba(20, 90, 120, 0.1);
  border-radius: 5px;
  height: 250px;
}
.card-tutor {
  display: grid;
  grid-template-columns: 25% 70%;
  grid-column-gap: 5%;
  grid-template-rows: 15% 80%;
  grid-row-gap: 5%;
  padding: 50px;
  align-items: center;
  text-align: left;
  width: 100%;
  background: rgba(20, 90, 120, 0.1);
  border-radius: 5px;
  height: 250px;
}
.card img, .card-tutor img {
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1 / 3;
  width: 100%;
  justify-content: end;
}
.card h2, .card-tutor h2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 1.6em;
  margin: 0;
  align-self: end;
}
.card p, .card-tutor p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: start;
}

.footer {
  margin-top: 130px;
  background: linear-gradient(90deg,  rgb(7, 35, 80), 25%, rgb(20, 90, 120) 70%);
  height: 100%;
  padding: 50px;
  color: white;
  text-align: left;
  /*clip-path: polygon(
    0 20%, /* left top */
    /*0 100%, /* right top */
    /*100% 100%, /* right bottom */
    /*100% 0 /* left bottom */
  /*);*/
}
.footer p {
  margin: 0px;
  padding: 5px;
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}




/*Tutors page*/
#content-head-tutor {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 450px;
  background: url(Images/tutor-page/glasses.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
  /*clip-path: polygon(
    0 0, /* left top */
    /*0 100%, /* right top */
    /*100% 82%, /* right bottom */
    /*100% 0 /* left bottom */
  /*);*/
}
.tutor-div {
  height: 800px;
  margin-top: 70px;
  /*transform: skewY(-2deg);*/
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-template-rows: 350px 350px;
  grid-row-gap: 100px;
}

.tutor-heading {
  margin-top: 170px;
  z-index: 1;
  border-radius: 5px;
  height: auto;
  background: white;
}
.top-tutor-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}
.experience {
  position: relative;
  padding: 40px;
  background: white;
  border: 1px solid #eaf0f6;
}
/* .sub-page-wrap {
  margin-top: 70px;
} */

.profiles-section {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
  justify-content: center;
  text-align: left;
}
.portrait img {
  width: 230px;
  border-radius: 50%;
}


/*contact page*/
#content-head-contact {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 450px;
  background: url(Images/message.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
  /*clip-path: polygon(
    0 0, /* left top */
    /*0 100%, /* right top */
    /*100% 82%, /* right bottom */
    /*100% 0 /* left bottom */
  /*);*/
}

.wace-div {
  height: 300px;
  margin-top: 70px;
  /*transform: skewY(-2deg);*/
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-template-rows: 350px 350px;
  grid-row-gap: 100px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(132, 201, 235);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(255, 134, 60);
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*Responsive shit*/

@media all and (max-width: 1400px) {
  .text-column h2 {
    font-size: 1.5em;
  }
  .text-column p {
    font-size: 0.9em;
  }
  #content-head {
    height: 700px;
    align-items: baseline;
  }
  .card, .card-tutor {
    padding: 15px;
  }
}

@media all and (max-width: 1000px) {
  .navigation {
    justify-content: space-around;
  }

  #square {
    width: 80%;
  }

  .text-box {
    width: 60%;
    margin: 0;
    padding: 30px;
  }
  .text-box h1 {
    font-size: 3em;
  }
  .text-box p {
    font-size: 1em;
  }
  #content-head {
    align-items: baseline;
  }
  .arrow {
    margin: 0;
    width: 30px;
    height: 55px;
    background: url(Images/down.png)50% 50% no-repeat;
    background-size: 35px;
    margin-left: 10px;
  }
  .arrow a {
    height: 55px;
    width: 30px;
  }
}

@media all and (max-width: 800px) {
  #content-head {
    height: 600px;

  }

  .main-div {
    height: 100%;
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-template-rows: 300px 300px 400px 300px;
    grid-row-gap: 0px;
  }

  .wace-div {
    margin-top: 0;
    height: 100%;
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-template-rows: 400px 300px;
    grid-row-gap: 0px;
  }

  .tutor-div {
    height: auto;
    margin-top: 0px;
  }
  .tutor-heading {
    margin-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .left {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .right {
    padding-left: 30px;
    padding-right: 30px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .bottom-div {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-template-rows: 220px 220px;
    grid-row-gap: 50px;
  }

  .top-card {
    grid-row: 1 / 2;
  }
  .bot-card {
    grid-row: 2 / 3;
  }
  .footer p {
    padding: 0px;
  }
  .top-tutor-heading {
    padding: 0px;
  }
}

@media all and (max-width: 600px) {
  #square {
    transform: skewX(10deg);
    width: 100%;
    margin-left: -50px;
  }
  .button {
    width: 180px;
    height: 40px;
    padding: 10px;
  }
  .text-box {
    width: 95%;
  }

  .text-box h1 {
    font-size: 2em;
  }
  .text-box p {
    font-size: 1em;
  }
  .text-box a {
    font-size: 1em;
  }


  .header {
    position: fixed;
    justify-content: center;
  }
  .logo {
    position: absolute;
    left: 30px;
    z-index: 3;
  }
  .navigation {
    display: block;
    padding-top: 6px;
    width: 100%;
  }
  .navigation a {
    display: none;
  }
  .navigation a:hover {
    transform: none;
  }
  .navigation a.icon {
    padding-top: 19px;
    float: right;
    display: block;
  }
  .navigation.responsive {
    position: relative;
  }

  .navigation.responsive a {
    width: 100%;
    background: rgba(255,255,255,1);
    float: right;
    display: block;
    text-align: right;
  }
  .navigation.responsive a:first-child {
    margin-top: 64px;
  }
  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 6px;
  }


  #content-head {
    /* padding-top: 0px; */
    height: 500px;
  }
  #content-head-tutor, #content-head-contact {
    /* padding-top: 0px; */
    height: 350px;
  }


  .footer p {
    font-size: 0.7em;
  }
}

@media all and (max-width: 420px) {
  #square {
    transform: skewX(10deg);
    width: 100%;
    margin-left: -50px;
  }
  .button {
    width: 150px;
    height: 35px;
    margin-top: 15px;
    padding: 7px;
  }
  .text-box {
    width: 95%;
  }

  .text-box h1 {
    font-size: 2em;
  }
  .text-box p {
    margin-top: 15px;
    font-size: 1em;
  }
  .text-box a {
    font-size: 0.9em;
  }
  .main-div {
    margin-top: 10px;
    grid-template-rows: 500px 200px 500px 200px;
    grid-row-gap: 0px;
  }

  .wace-div {
    margin-top: 0px;
    grid-template-rows: 500px 200px;
    grid-row-gap: 0px;
  }

  .tutor-div {
    margin-top: 0px;
  }

  .text-column h2 {
    font-size: 1.4em;
  }
  .text-column p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .image-column img {
    width: 600px;
  }
  .card, .card-tutor {
    padding: 5px;
  }
  .card h2, .card-tutor h2 {
    font-size: 1.5em;
  }
  .card p, .card-tutor p {
    font-size: 0.93em;
  }
  /* .footer p {
    font-size: 0.4em;
  } */
}
